:root {
  --10: #171717;
  --20: #FFFFFF;
  --30: #F2F5F5;
  --40: #93CBCC;
  --50: rgba(7, 16, 36, 0.4);
  --green-1: #347B81;
  --green-2: #4F9193;
  --green-3: #84BDBE;
  --green-4: #E7F0F0;
  --purple-1: #5F7BDA;
  --purple-2: #5F7BDA;
  --purple-3: #B3C2F0;
  --purple-4: #F5F7FF;
  --pink-1: #D75796;
  --pink-2: #EA6EAB;
  --pink-3: #F1C0D2;
  --pink-4: #FFF7FA;
  --yellow-1: #F6CF26;
  --yellow-2: #FFE15E;
  --yellow-3: #F9E7A9;
  --yellow-4: #FFFDF6;
  --orange: #F5A364;
  --red: #E05647;
  --blue: #6DA8F5;
}