@import 'variables';

.h1, h1 {
  font-size: 44px;
  line-height: 60px;
  font-weight: 600;

  @media (max-width: $mq-tablet - 1) {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }
}

.h2, h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}

.h3, h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.body1 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.body2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.body3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.body1,
.body2,
.body3,
.body4 {
  color: inherit;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: var(--font-raleway);
}